--实体项目元数据sql
DELETE FROM T_METADATA_PROJECT_COMPONENT WHERE F_GUID='4abbe03a-9385-46f8-be89-5f3fbd22ceae'
INSERT INTO T_METADATA_PROJECT_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_PROJECT_COMPONENT),0,'4abbe03a-9385-46f8-be89-5f3fbd22ceae','BlogBP','MVC.BlogBP',1,'MVC.BlogBP.dll')
--生成单个实体的元数据sql
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='cb1c25e2-3565-442f-8c39-3c85dae3fba9'
INSERT INTO T_METADATA_BP_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_BP_COMPONENT),0,'cb1c25e2-3565-442f-8c39-3c85dae3fba9','GetArticleListBP','获取文章列表','MVC.BlogBP.GetArticleListBP','MVC.BlogBP.dll','4abbe03a-9385-46f8-be89-5f3fbd22ceae',0,'',0)
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='d4d9affa-6bad-4a5f-b075-697066375968'
INSERT INTO T_METADATA_BP_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_BP_COMPONENT),0,'d4d9affa-6bad-4a5f-b075-697066375968','GetArticleBP','获取文章','MVC.BlogBP.GetArticleBP','MVC.BlogBP.dll','4abbe03a-9385-46f8-be89-5f3fbd22ceae',1,'',0)
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='e08c4ecc-fd0e-47bd-ab54-91d1afdbfd74'
INSERT INTO T_METADATA_BP_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_BP_COMPONENT),0,'e08c4ecc-fd0e-47bd-ab54-91d1afdbfd74','InsertArticleBP','新增文章','MVC.BlogBP.InsertArticleBP','MVC.BlogBP.dll','4abbe03a-9385-46f8-be89-5f3fbd22ceae',1,'',0)
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='2235f5bd-2da4-4666-b9c2-8fc052a32103'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='d0d3db36-7b82-488f-8879-a8c34ab20f3b'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='9bdf6f4a-b933-4b90-96bb-9d8ef4b07650'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='7b63c150-094b-4280-966a-240664641ddd'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='0651542c-1359-42e2-aca7-d19da1abfeb7'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='da42f320-6228-4070-a07d-db37c1932e1d'
