--实体项目元数据sql
DELETE FROM T_METADATA_PROJECT_COMPONENT WHERE F_GUID='388c5a05-c431-4704-9494-4483ae6cffcb'
INSERT INTO T_METADATA_PROJECT_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_PROJECT_COMPONENT),0,'388c5a05-c431-4704-9494-4483ae6cffcb','BlogBE','MVC.BlogBE',0,'MVC.BlogBE.dll')
--生成单个实体的元数据sql
DELETE FROM T_METADATA_ENTITY_COMPONENT WHERE F_GUID='4f34a4ff-4ae0-44e3-be67-2163594d6588'
INSERT INTO T_METADATA_ENTITY_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENTITY_COMPONENT),0,'4f34a4ff-4ae0-44e3-be67-2163594d6588','Article','文章实体','MVC.BlogBE.Article','MVC.BlogBE.dll','388c5a05-c431-4704-9494-4483ae6cffcb','T_BLOG_ARTICLE',0,0)
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_ENTITYGUID='4f34a4ff-4ae0-44e3-be67-2163594d6588'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='4f34a4ff-4ae0-44e3-be67-2163594d6588'
INSERT INTO T_METADATA_ENTITY_COLUMN_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENTITY_COLUMN_COMPONENT),0,'4f34a4ff-4ae0-44e3-be67-2163594d6588','ID','ID','long','','4f34a4ff-4ae0-44e3-be67-2163594d6588',1)
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='fa1ef700-dc49-41be-ab0c-f2ed395e62f9' and F_ENTITYGUID='4f34a4ff-4ae0-44e3-be67-2163594d6588'
INSERT INTO T_METADATA_ENTITY_COLUMN_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENTITY_COLUMN_COMPONENT),0,'fa1ef700-dc49-41be-ab0c-f2ed395e62f9','Title','标题','string','','4f34a4ff-4ae0-44e3-be67-2163594d6588',1)
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='69c73c5d-f341-4e61-b6f0-39518dcd2582' and F_ENTITYGUID='4f34a4ff-4ae0-44e3-be67-2163594d6588'
INSERT INTO T_METADATA_ENTITY_COLUMN_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENTITY_COLUMN_COMPONENT),0,'69c73c5d-f341-4e61-b6f0-39518dcd2582','Content','内容','String','','4f34a4ff-4ae0-44e3-be67-2163594d6588',1)
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='7dfab21c-756c-4a80-835c-9adc43fecd11' and F_ENTITYGUID='4f34a4ff-4ae0-44e3-be67-2163594d6588'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='c224b2cb-08bc-4832-881d-482a14d1e546' and F_ENTITYGUID='4f34a4ff-4ae0-44e3-be67-2163594d6588'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='e86c568e-dffa-4f97-9266-9a4c84a8e46b' and F_ENTITYGUID='4f34a4ff-4ae0-44e3-be67-2163594d6588'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='18b03a97-7f47-4cea-9b7d-9045255463d5' and F_ENTITYGUID='4f34a4ff-4ae0-44e3-be67-2163594d6588'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='b95a70dd-1fba-4aa9-bb71-d53739753356' and F_ENTITYGUID='4f34a4ff-4ae0-44e3-be67-2163594d6588'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='ac92f81e-4183-475f-9b86-4485a59547a9' and F_ENTITYGUID='4f34a4ff-4ae0-44e3-be67-2163594d6588'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='cab023b2-7473-41ac-bd0d-2fd01a7e897a' and F_ENTITYGUID='4f34a4ff-4ae0-44e3-be67-2163594d6588'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='339440b0-22a9-4f6a-8bc2-2074f322f8f1' and F_ENTITYGUID='4f34a4ff-4ae0-44e3-be67-2163594d6588'
DELETE FROM T_METADATA_ENTITY_COMPONENT WHERE F_GUID='a3f10ee4-36c1-4485-b685-a857a5e624df'
INSERT INTO T_METADATA_ENTITY_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENTITY_COMPONENT),0,'a3f10ee4-36c1-4485-b685-a857a5e624df','User','用户表','MVC.BlogBE.User','MVC.BlogBE.dll','388c5a05-c431-4704-9494-4483ae6cffcb','T_BLOG_USER',0,0)
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_ENTITYGUID='a3f10ee4-36c1-4485-b685-a857a5e624df'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='a3f10ee4-36c1-4485-b685-a857a5e624df'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='51ca2ddd-35db-4b6f-9fc2-00e2646cfa2e' and F_ENTITYGUID='a3f10ee4-36c1-4485-b685-a857a5e624df'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='8eae5f9d-2d65-4833-9aab-d30a3e5ecc71' and F_ENTITYGUID='a3f10ee4-36c1-4485-b685-a857a5e624df'
DELETE FROM T_METADATA_ENTITY_COMPONENT WHERE F_GUID='0c8f54da-340c-48de-82ba-3701d4a88f39'
INSERT INTO T_METADATA_ENTITY_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENTITY_COMPONENT),0,'0c8f54da-340c-48de-82ba-3701d4a88f39','SortType','类别','MVC.BlogBE.SortType','MVC.BlogBE.dll','388c5a05-c431-4704-9494-4483ae6cffcb','T_BLOG_SORT_TYPE',1,2)
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_ENTITYGUID='0c8f54da-340c-48de-82ba-3701d4a88f39'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='0c8f54da-340c-48de-82ba-3701d4a88f39'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='39e9f849-1748-487e-9e9d-ffd6b26b1406' and F_ENTITYGUID='0c8f54da-340c-48de-82ba-3701d4a88f39'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='b876d7dd-f062-481a-9f58-1db951102055' and F_ENTITYGUID='0c8f54da-340c-48de-82ba-3701d4a88f39'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='42f1a63a-3c3f-45b1-b895-875ff1bcc4ea' and F_ENTITYGUID='0c8f54da-340c-48de-82ba-3701d4a88f39'
DELETE FROM T_METADATA_ENUM_COMPONENT WHERE F_GUID='90a7e6b4-0583-4185-8074-53bab0a9a4d6'
INSERT INTO T_METADATA_ENUM_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENUM_COMPONENT),0,'90a7e6b4-0583-4185-8074-53bab0a9a4d6','ArticleTypeEnum','文章类别枚举','MVC.BlogBE.ArticleTypeEnum','MVC.BlogBE.dll','388c5a05-c431-4704-9494-4483ae6cffcb')
DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_ENUMGUID='90a7e6b4-0583-4185-8074-53bab0a9a4d6'
DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='ae50c47a-cc31-4534-b57e-1f9a377d6740'
INSERT INTO T_METADATA_ENUM_COLUMN_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENUM_COLUMN_COMPONENT),0,'ae50c47a-cc31-4534-b57e-1f9a377d6740','News','新闻',1,'90a7e6b4-0583-4185-8074-53bab0a9a4d6')

DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='a7644dd2-72dd-4b1d-b460-88f960f9517b'
INSERT INTO T_METADATA_ENUM_COLUMN_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENUM_COLUMN_COMPONENT),0,'a7644dd2-72dd-4b1d-b460-88f960f9517b','Photo','图片',2,'90a7e6b4-0583-4185-8074-53bab0a9a4d6')

DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='6b964ed6-3e19-40d3-b249-c22537a91494'
INSERT INTO T_METADATA_ENUM_COLUMN_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENUM_COLUMN_COMPONENT),0,'6b964ed6-3e19-40d3-b249-c22537a91494','Dress','礼服',3,'90a7e6b4-0583-4185-8074-53bab0a9a4d6')

