IF EXISTS(SELECT 1 from sysobjects WHERE name= 'FK_T_BLOG_ARTICLE_SortType_SortType' and xtype= 'F')
BEGIN
ALTER TABLE T_BLOG_ARTICLE DROP CONSTRAINT FK_T_BLOG_ARTICLE_SortType_SortType
END
GO 
IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id('T_BLOG_USER'))
BEGIN 
DROP TABLE T_BLOG_USER
END 
GO
IF EXISTS (SELECT name FROM sysindexes WHERE name = 'T_BLOG_USER_BizIndex')
DROP INDEX T_BLOG_USER.T_BLOG_USER_BizIndex
GO
CREATE TABLE T_BLOG_USER (
F_ID bigint PRIMARY KEY ,
F_SYSVERSION int not null ,
F_CODE NVARCHAR(100) not null,F_NAME NVARCHAR(100) not null)
IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id('T_BLOG_SORT_TYPE'))
BEGIN 
DROP TABLE T_BLOG_SORT_TYPE
END 
GO
IF EXISTS (SELECT name FROM sysindexes WHERE name = 'T_BLOG_SORT_TYPE_BizIndex')
DROP INDEX T_BLOG_SORT_TYPE.T_BLOG_SORT_TYPE_BizIndex
GO
CREATE TABLE T_BLOG_SORT_TYPE (
F_ID bigint PRIMARY KEY ,
F_SYSVERSION int not null ,
F_CODE NVARCHAR(100) not null,F_NAME NVARCHAR(100) not null,F_TYPE INT NOT NULL)
IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id('T_BLOG_ARTICLE'))
BEGIN 
DROP TABLE T_BLOG_ARTICLE
END 
GO
IF EXISTS (SELECT name FROM sysindexes WHERE name = 'T_BLOG_ARTICLE_BizIndex')
DROP INDEX T_BLOG_ARTICLE.T_BLOG_ARTICLE_BizIndex
GO
CREATE TABLE T_BLOG_ARTICLE (
F_ID bigint PRIMARY KEY ,
F_SYSVERSION int not null ,
F_TITLE NVARCHAR(100) not null,F_CONTENT TEXT,F_TOPIMAGE NVARCHAR(200),F_ISTOP BIT not null,F_ISROLL BIT not null,F_ISBAR BIT not null,F_SORTTYPE BIGINT NOT NULL,F_MODIFYDATE DATETIME not null,F_ROLLIMAGE NVARCHAR(200),F_BARIMAGE NVARCHAR(200))
ALTER TABLE T_BLOG_ARTICLE ADD CONSTRAINT FK_T_BLOG_ARTICLE_SortType_SortType FOREIGN KEY (F_SORTTYPE)  REFERENCES T_BLOG_SORT_TYPE (F_ID) 
GO
