--实体项目元数据sql
DELETE FROM T_METADATA_PROJECT_COMPONENT WHERE F_GUID='8b7def67-8cd9-433a-98de-d125df1c8c92'
INSERT INTO T_METADATA_PROJECT_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_PROJECT_COMPONENT),0,'8b7def67-8cd9-433a-98de-d125df1c8c92','公共实体','IWEHAVE.ERP.CommonBE',0,'IWEHAVE.ERP.CommonBE.dll')
--生成单个实体的元数据sql
DELETE FROM T_METADATA_ENTITY_COMPONENT WHERE F_GUID='46555b52-7bbf-4667-81a7-6d0b11681400'
INSERT INTO T_METADATA_ENTITY_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENTITY_COMPONENT),0,'46555b52-7bbf-4667-81a7-6d0b11681400','BizEntity','业务实体公共基类','IWEHAVE.ERP.CommonBE.BizEntity','IWEHAVE.ERP.CommonBE.dll','8b7def67-8cd9-433a-98de-d125df1c8c92','T_BIZENTITY',0,0)
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_ENTITYGUID='46555b52-7bbf-4667-81a7-6d0b11681400'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='46555b52-7bbf-4667-81a7-6d0b11681400'
INSERT INTO T_METADATA_ENTITY_COLUMN_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENTITY_COLUMN_COMPONENT),0,'46555b52-7bbf-4667-81a7-6d0b11681400','ID','ID','long','','46555b52-7bbf-4667-81a7-6d0b11681400',1)
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='ece595a1-0c85-40db-9399-7655be534d6c' and F_ENTITYGUID='46555b52-7bbf-4667-81a7-6d0b11681400'
INSERT INTO T_METADATA_ENTITY_COLUMN_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENTITY_COLUMN_COMPONENT),0,'ece595a1-0c85-40db-9399-7655be534d6c','Creator','创建人','long','','46555b52-7bbf-4667-81a7-6d0b11681400',1)
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='ae2a144b-062f-433d-8aa0-6eb265347ff8' and F_ENTITYGUID='46555b52-7bbf-4667-81a7-6d0b11681400'
INSERT INTO T_METADATA_ENTITY_COLUMN_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENTITY_COLUMN_COMPONENT),0,'ae2a144b-062f-433d-8aa0-6eb265347ff8','Orgnization','所属根组织','long','','46555b52-7bbf-4667-81a7-6d0b11681400',1)
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='9fcd16ad-c843-41f3-b57a-610bff54fc7d' and F_ENTITYGUID='46555b52-7bbf-4667-81a7-6d0b11681400'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='2c7be805-618e-4948-9ea0-54103691bc54' and F_ENTITYGUID='46555b52-7bbf-4667-81a7-6d0b11681400'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='b395b9c1-cb19-4420-9eb6-c2c36daf61e9' and F_ENTITYGUID='46555b52-7bbf-4667-81a7-6d0b11681400'
DELETE FROM T_METADATA_ENTITY_COMPONENT WHERE F_GUID='1d9694f8-740a-4bb9-bfa0-d0a055873ced'
INSERT INTO T_METADATA_ENTITY_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENTITY_COMPONENT),0,'1d9694f8-740a-4bb9-bfa0-d0a055873ced','BizTreeEntity','树组件公共基类','IWEHAVE.ERP.CommonBE.BizTreeEntity','IWEHAVE.ERP.CommonBE.dll','8b7def67-8cd9-433a-98de-d125df1c8c92','T_BIZTREEENTITY',0,0)
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_ENTITYGUID='1d9694f8-740a-4bb9-bfa0-d0a055873ced'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='1d9694f8-740a-4bb9-bfa0-d0a055873ced'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='ece595a1-0c85-40db-9399-7655be534d6c' and F_ENTITYGUID='1d9694f8-740a-4bb9-bfa0-d0a055873ced'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='ae2a144b-062f-433d-8aa0-6eb265347ff8' and F_ENTITYGUID='1d9694f8-740a-4bb9-bfa0-d0a055873ced'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='9fcd16ad-c843-41f3-b57a-610bff54fc7d' and F_ENTITYGUID='1d9694f8-740a-4bb9-bfa0-d0a055873ced'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='2c7be805-618e-4948-9ea0-54103691bc54' and F_ENTITYGUID='1d9694f8-740a-4bb9-bfa0-d0a055873ced'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='b395b9c1-cb19-4420-9eb6-c2c36daf61e9' and F_ENTITYGUID='1d9694f8-740a-4bb9-bfa0-d0a055873ced'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='4cd95f3b-3a46-4f6b-9a2d-5c41ffbc0e60' and F_ENTITYGUID='1d9694f8-740a-4bb9-bfa0-d0a055873ced'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='0edb72c7-2dc1-44d1-b08c-780001ef2079' and F_ENTITYGUID='1d9694f8-740a-4bb9-bfa0-d0a055873ced'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='984de839-3920-41f7-a769-4279080eb443' and F_ENTITYGUID='1d9694f8-740a-4bb9-bfa0-d0a055873ced'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='7bea0a9f-6616-476b-9fbe-31678535b7a7' and F_ENTITYGUID='1d9694f8-740a-4bb9-bfa0-d0a055873ced'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='a2c5d1c7-e7ef-43c0-baba-b343087a3d56' and F_ENTITYGUID='1d9694f8-740a-4bb9-bfa0-d0a055873ced'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='15eaec4f-a1b4-404f-b896-75315b33507b' and F_ENTITYGUID='1d9694f8-740a-4bb9-bfa0-d0a055873ced'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='65b5d339-0c91-4b76-9ef5-da84273ce0a5' and F_ENTITYGUID='1d9694f8-740a-4bb9-bfa0-d0a055873ced'
