IF EXISTS(SELECT 1 from sysobjects WHERE name= 'FK_T_LAB_TEACHER_Position_CommonEnum' and xtype= 'F')
BEGIN
ALTER TABLE T_LAB_TEACHER DROP CONSTRAINT FK_T_LAB_TEACHER_Position_CommonEnum
END
IF EXISTS(SELECT 1 from sysobjects WHERE name= 'FK_T_LAB_TEACHER_Department_CommonEnum' and xtype= 'F')
BEGIN
ALTER TABLE T_LAB_TEACHER DROP CONSTRAINT FK_T_LAB_TEACHER_Department_CommonEnum
END
IF EXISTS(SELECT 1 from sysobjects WHERE name= 'FK_T_LAB_USER_Degree_CommonEnum' and xtype= 'F')
BEGIN
ALTER TABLE T_LAB_USER DROP CONSTRAINT FK_T_LAB_USER_Degree_CommonEnum
END
IF EXISTS(SELECT 1 from sysobjects WHERE name= 'FK_T_LAB_USER_Status_CommonEnum' and xtype= 'F')
BEGIN
ALTER TABLE T_LAB_USER DROP CONSTRAINT FK_T_LAB_USER_Status_CommonEnum
END
IF EXISTS(SELECT 1 from sysobjects WHERE name= 'FK_T_LAB_USER_Teacher_Teacher' and xtype= 'F')
BEGIN
ALTER TABLE T_LAB_USER DROP CONSTRAINT FK_T_LAB_USER_Teacher_Teacher
END
IF EXISTS(SELECT 1 from sysobjects WHERE name= 'FK_T_LAB_DEVICE_MAP_House_CommonEnum' and xtype= 'F')
BEGIN
ALTER TABLE T_LAB_DEVICE_MAP DROP CONSTRAINT FK_T_LAB_DEVICE_MAP_House_CommonEnum
END
IF EXISTS(SELECT 1 from sysobjects WHERE name= 'FK_T_LAB_DEVICE_MAP_Device_Device' and xtype= 'F')
BEGIN
ALTER TABLE T_LAB_DEVICE_MAP DROP CONSTRAINT FK_T_LAB_DEVICE_MAP_Device_Device
END
IF EXISTS(SELECT 1 from sysobjects WHERE name= 'FK_T_LAB_DEVICE_USE_RECORD_Device_DeviceMap' and xtype= 'F')
BEGIN
ALTER TABLE T_LAB_DEVICE_USE_RECORD DROP CONSTRAINT FK_T_LAB_DEVICE_USE_RECORD_Device_DeviceMap
END
IF EXISTS(SELECT 1 from sysobjects WHERE name= 'FK_T_LAB_DEVICE_USE_RECORD_User_User' and xtype= 'F')
BEGIN
ALTER TABLE T_LAB_DEVICE_USE_RECORD DROP CONSTRAINT FK_T_LAB_DEVICE_USE_RECORD_User_User
END
IF EXISTS(SELECT 1 from sysobjects WHERE name= 'FK_T_LAB_DEVICE_USE_RECORD_Teacher_Teacher' and xtype= 'F')
BEGIN
ALTER TABLE T_LAB_DEVICE_USE_RECORD DROP CONSTRAINT FK_T_LAB_DEVICE_USE_RECORD_Teacher_Teacher
END
IF EXISTS(SELECT 1 from sysobjects WHERE name= 'FK_T_LAB_DEVICE_USE_RECORD_House_CommonEnum' and xtype= 'F')
BEGIN
ALTER TABLE T_LAB_DEVICE_USE_RECORD DROP CONSTRAINT FK_T_LAB_DEVICE_USE_RECORD_House_CommonEnum
END
IF EXISTS(SELECT 1 from sysobjects WHERE name= 'FK_T_LAB_DEVICE_REPAIR_RECORD_Device_DeviceMap' and xtype= 'F')
BEGIN
ALTER TABLE T_LAB_DEVICE_REPAIR_RECORD DROP CONSTRAINT FK_T_LAB_DEVICE_REPAIR_RECORD_Device_DeviceMap
END
IF EXISTS(SELECT 1 from sysobjects WHERE name= 'FK_T_LAB_DEVICE_REPAIR_RECORD_User_User' and xtype= 'F')
BEGIN
ALTER TABLE T_LAB_DEVICE_REPAIR_RECORD DROP CONSTRAINT FK_T_LAB_DEVICE_REPAIR_RECORD_User_User
END
IF EXISTS(SELECT 1 from sysobjects WHERE name= 'FK_T_LAB_DEVICE_REPAIR_RECORD_Teacher_Teacher' and xtype= 'F')
BEGIN
ALTER TABLE T_LAB_DEVICE_REPAIR_RECORD DROP CONSTRAINT FK_T_LAB_DEVICE_REPAIR_RECORD_Teacher_Teacher
END
IF EXISTS(SELECT 1 from sysobjects WHERE name= 'FK_T_LAB_DEVICE_REPAIR_RECORD_CompleteUser_User' and xtype= 'F')
BEGIN
ALTER TABLE T_LAB_DEVICE_REPAIR_RECORD DROP CONSTRAINT FK_T_LAB_DEVICE_REPAIR_RECORD_CompleteUser_User
END
IF EXISTS(SELECT 1 from sysobjects WHERE name= 'FK_T_LAB_DEVICE_REPAIR_RECORD_House_CommonEnum' and xtype= 'F')
BEGIN
ALTER TABLE T_LAB_DEVICE_REPAIR_RECORD DROP CONSTRAINT FK_T_LAB_DEVICE_REPAIR_RECORD_House_CommonEnum
END
IF EXISTS(SELECT 1 from sysobjects WHERE name= 'FK_T_LAB_DEVICE_LOG_Device_DeviceMap' and xtype= 'F')
BEGIN
ALTER TABLE T_LAB_DEVICE_LOG DROP CONSTRAINT FK_T_LAB_DEVICE_LOG_Device_DeviceMap
END
IF EXISTS(SELECT 1 from sysobjects WHERE name= 'FK_T_LAB_DEVICE_LOG_Operator_User' and xtype= 'F')
BEGIN
ALTER TABLE T_LAB_DEVICE_LOG DROP CONSTRAINT FK_T_LAB_DEVICE_LOG_Operator_User
END
GO 
IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id('T_LAB_COMMON_ENUM'))
BEGIN 
DROP TABLE T_LAB_COMMON_ENUM
END 
GO
IF EXISTS (SELECT name FROM sysindexes WHERE name = 'T_LAB_COMMON_ENUM_BizIndex')
DROP INDEX T_LAB_COMMON_ENUM.T_LAB_COMMON_ENUM_BizIndex
GO
CREATE TABLE T_LAB_COMMON_ENUM (
F_ID bigint PRIMARY KEY ,
F_SYSVERSION int not null ,
F_NAME NVARCHAR(100) not null,F_TYPE INT NOT NULL,F_CODE NVARCHAR(100) not null,F_ISDELETE BIT not null)
IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id('T_LAB_TEACHER'))
BEGIN 
DROP TABLE T_LAB_TEACHER
END 
GO
IF EXISTS (SELECT name FROM sysindexes WHERE name = 'T_LAB_TEACHER_BizIndex')
DROP INDEX T_LAB_TEACHER.T_LAB_TEACHER_BizIndex
GO
CREATE TABLE T_LAB_TEACHER (
F_ID bigint PRIMARY KEY ,
F_SYSVERSION int not null ,
F_NAME NVARCHAR(100) not null,F_SEX INT NOT NULL,F_POSITION BIGINT NOT NULL,F_DEPARTMENT BIGINT,F_TAG NVARCHAR(100),F_ISDELETE BIT not null)
IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id('T_LAB_DEVICE'))
BEGIN 
DROP TABLE T_LAB_DEVICE
END 
GO
IF EXISTS (SELECT name FROM sysindexes WHERE name = 'T_LAB_DEVICE_BizIndex')
DROP INDEX T_LAB_DEVICE.T_LAB_DEVICE_BizIndex
GO
CREATE TABLE T_LAB_DEVICE (
F_ID bigint PRIMARY KEY ,
F_SYSVERSION int not null ,
F_NAME NVARCHAR(100) not null,F_TYPE INT NOT NULL,F_EXPRESSION NVARCHAR(100),F_TAG NVARCHAR(100),F_PRICE DECIMAL(25, 8),F_ISDELETE BIT not null)
IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id('T_LAB_LOGIN_LOGGER'))
BEGIN 
DROP TABLE T_LAB_LOGIN_LOGGER
END 
GO
IF EXISTS (SELECT name FROM sysindexes WHERE name = 'T_LAB_LOGIN_LOGGER_BizIndex')
DROP INDEX T_LAB_LOGIN_LOGGER.T_LAB_LOGIN_LOGGER_BizIndex
GO
CREATE TABLE T_LAB_LOGIN_LOGGER (
F_ID bigint PRIMARY KEY ,
F_SYSVERSION int not null ,
F_USER BIGINT not null,F_NAME NVARCHAR(100) not null,F_IP NVARCHAR(100) not null,F_SUCCESS BIT not null,F_ERRORMSG NVARCHAR(200),F_LOGINDATE DATETIME not null)
IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id('T_LAB_USER'))
BEGIN 
DROP TABLE T_LAB_USER
END 
GO
IF EXISTS (SELECT name FROM sysindexes WHERE name = 'T_LAB_USER_BizIndex')
DROP INDEX T_LAB_USER.T_LAB_USER_BizIndex
GO
CREATE TABLE T_LAB_USER (
F_ID bigint PRIMARY KEY ,
F_SYSVERSION int not null ,
F_SN NVARCHAR(100),F_NAME NVARCHAR(100),F_TEL NVARCHAR(100),F_PASSWORD NVARCHAR(100) not null,F_DEGREE BIGINT,F_STATUS BIGINT,F_TYPE INT NOT NULL,F_EMAIL NVARCHAR(100),F_CODE NVARCHAR(100) not null,F_ISDELETE BIT not null,F_BEGINTIME DATETIME,F_ENDTIME DATETIME,F_TEACHER BIGINT)
IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id('T_LAB_DEVICE_MAP'))
BEGIN 
DROP TABLE T_LAB_DEVICE_MAP
END 
GO
IF EXISTS (SELECT name FROM sysindexes WHERE name = 'T_LAB_DEVICE_MAP_BizIndex')
DROP INDEX T_LAB_DEVICE_MAP.T_LAB_DEVICE_MAP_BizIndex
GO
CREATE TABLE T_LAB_DEVICE_MAP (
F_ID bigint PRIMARY KEY ,
F_SYSVERSION int not null ,
F_HOUSE BIGINT NOT NULL,F_SN NVARCHAR(100) not null,F_DEVICESTATUS INT NOT NULL,F_USESTATUS INT NOT NULL,F_PRICE DECIMAL(25, 8),F_EXPRESSION NVARCHAR(100),F_ISDELETE BIT not null,F_DEVICE BIGINT NOT NULL)
IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id('T_LAB_DEVICE_USE_RECORD'))
BEGIN 
DROP TABLE T_LAB_DEVICE_USE_RECORD
END 
GO
IF EXISTS (SELECT name FROM sysindexes WHERE name = 'T_LAB_DEVICE_USE_RECORD_BizIndex')
DROP INDEX T_LAB_DEVICE_USE_RECORD.T_LAB_DEVICE_USE_RECORD_BizIndex
GO
CREATE TABLE T_LAB_DEVICE_USE_RECORD (
F_ID bigint PRIMARY KEY ,
F_SYSVERSION int not null ,
F_DEVICE BIGINT NOT NULL,F_BEGINTIME DATETIME not null,F_ENDTIME DATETIME,F_FEE DECIMAL(25, 8) not null,F_USER BIGINT,F_ISAPPOINT BIT not null,F_TEACHER BIGINT NOT NULL,F_ISCOMPLETED BIT not null,F_HOUSE BIGINT NOT NULL,F_ISUSING BIT not null)
IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id('T_LAB_DEVICE_REPAIR_RECORD'))
BEGIN 
DROP TABLE T_LAB_DEVICE_REPAIR_RECORD
END 
GO
IF EXISTS (SELECT name FROM sysindexes WHERE name = 'T_LAB_DEVICE_REPAIR_RECORD_BizIndex')
DROP INDEX T_LAB_DEVICE_REPAIR_RECORD.T_LAB_DEVICE_REPAIR_RECORD_BizIndex
GO
CREATE TABLE T_LAB_DEVICE_REPAIR_RECORD (
F_ID bigint PRIMARY KEY ,
F_SYSVERSION int not null ,
F_DEVICE BIGINT NOT NULL,F_USER BIGINT NOT NULL,F_TEACHER BIGINT,F_REPORTDATE DATETIME not null,F_ISCOMPLETED BIT not null,F_COMPLETEDATE DATETIME,F_COMPLETEUSER BIGINT,F_FEE DECIMAL(25, 8),F_REPORTMEMO NVARCHAR(200),F_REPAIRDATE DATETIME,F_ALARMUSER BIT not null,F_HOUSE BIGINT NOT NULL)
IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id('T_LAB_DEVICE_LOG'))
BEGIN 
DROP TABLE T_LAB_DEVICE_LOG
END 
GO
IF EXISTS (SELECT name FROM sysindexes WHERE name = 'T_LAB_DEVICE_LOG_BizIndex')
DROP INDEX T_LAB_DEVICE_LOG.T_LAB_DEVICE_LOG_BizIndex
GO
CREATE TABLE T_LAB_DEVICE_LOG (
F_ID bigint PRIMARY KEY ,
F_SYSVERSION int not null ,
F_DEVICE BIGINT NOT NULL,F_OPERATOR BIGINT NOT NULL,F_STATUS INT NOT NULL)
ALTER TABLE T_LAB_TEACHER ADD CONSTRAINT FK_T_LAB_TEACHER_Position_CommonEnum FOREIGN KEY (F_POSITION)  REFERENCES T_LAB_COMMON_ENUM (F_ID) 
ALTER TABLE T_LAB_TEACHER ADD CONSTRAINT FK_T_LAB_TEACHER_Department_CommonEnum FOREIGN KEY (F_DEPARTMENT)  REFERENCES T_LAB_COMMON_ENUM (F_ID) 
ALTER TABLE T_LAB_USER ADD CONSTRAINT FK_T_LAB_USER_Degree_CommonEnum FOREIGN KEY (F_DEGREE)  REFERENCES T_LAB_COMMON_ENUM (F_ID) 
ALTER TABLE T_LAB_USER ADD CONSTRAINT FK_T_LAB_USER_Status_CommonEnum FOREIGN KEY (F_STATUS)  REFERENCES T_LAB_COMMON_ENUM (F_ID) 
ALTER TABLE T_LAB_USER ADD CONSTRAINT FK_T_LAB_USER_Teacher_Teacher FOREIGN KEY (F_TEACHER)  REFERENCES T_LAB_TEACHER (F_ID) 
ALTER TABLE T_LAB_DEVICE_MAP ADD CONSTRAINT FK_T_LAB_DEVICE_MAP_House_CommonEnum FOREIGN KEY (F_HOUSE)  REFERENCES T_LAB_COMMON_ENUM (F_ID) 
ALTER TABLE T_LAB_DEVICE_MAP ADD CONSTRAINT FK_T_LAB_DEVICE_MAP_Device_Device FOREIGN KEY (F_DEVICE)  REFERENCES T_LAB_DEVICE (F_ID) 
ALTER TABLE T_LAB_DEVICE_USE_RECORD ADD CONSTRAINT FK_T_LAB_DEVICE_USE_RECORD_Device_DeviceMap FOREIGN KEY (F_DEVICE)  REFERENCES T_LAB_DEVICE_MAP (F_ID) 
ALTER TABLE T_LAB_DEVICE_USE_RECORD ADD CONSTRAINT FK_T_LAB_DEVICE_USE_RECORD_User_User FOREIGN KEY (F_USER)  REFERENCES T_LAB_USER (F_ID) 
ALTER TABLE T_LAB_DEVICE_USE_RECORD ADD CONSTRAINT FK_T_LAB_DEVICE_USE_RECORD_Teacher_Teacher FOREIGN KEY (F_TEACHER)  REFERENCES T_LAB_TEACHER (F_ID) 
ALTER TABLE T_LAB_DEVICE_USE_RECORD ADD CONSTRAINT FK_T_LAB_DEVICE_USE_RECORD_House_CommonEnum FOREIGN KEY (F_HOUSE)  REFERENCES T_LAB_COMMON_ENUM (F_ID) 
ALTER TABLE T_LAB_DEVICE_REPAIR_RECORD ADD CONSTRAINT FK_T_LAB_DEVICE_REPAIR_RECORD_Device_DeviceMap FOREIGN KEY (F_DEVICE)  REFERENCES T_LAB_DEVICE_MAP (F_ID) 
ALTER TABLE T_LAB_DEVICE_REPAIR_RECORD ADD CONSTRAINT FK_T_LAB_DEVICE_REPAIR_RECORD_User_User FOREIGN KEY (F_USER)  REFERENCES T_LAB_USER (F_ID) 
ALTER TABLE T_LAB_DEVICE_REPAIR_RECORD ADD CONSTRAINT FK_T_LAB_DEVICE_REPAIR_RECORD_Teacher_Teacher FOREIGN KEY (F_TEACHER)  REFERENCES T_LAB_TEACHER (F_ID) 
ALTER TABLE T_LAB_DEVICE_REPAIR_RECORD ADD CONSTRAINT FK_T_LAB_DEVICE_REPAIR_RECORD_CompleteUser_User FOREIGN KEY (F_COMPLETEUSER)  REFERENCES T_LAB_USER (F_ID) 
ALTER TABLE T_LAB_DEVICE_REPAIR_RECORD ADD CONSTRAINT FK_T_LAB_DEVICE_REPAIR_RECORD_House_CommonEnum FOREIGN KEY (F_HOUSE)  REFERENCES T_LAB_COMMON_ENUM (F_ID) 
ALTER TABLE T_LAB_DEVICE_LOG ADD CONSTRAINT FK_T_LAB_DEVICE_LOG_Device_DeviceMap FOREIGN KEY (F_DEVICE)  REFERENCES T_LAB_DEVICE_MAP (F_ID) 
ALTER TABLE T_LAB_DEVICE_LOG ADD CONSTRAINT FK_T_LAB_DEVICE_LOG_Operator_User FOREIGN KEY (F_OPERATOR)  REFERENCES T_LAB_USER (F_ID) 
GO
