--实体项目元数据sql
DELETE FROM T_METADATA_PROJECT_COMPONENT WHERE F_GUID='ae9711fa-030d-482d-b0f2-70f559743b83'
INSERT INTO T_METADATA_PROJECT_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_PROJECT_COMPONENT),0,'ae9711fa-030d-482d-b0f2-70f559743b83','实验室管理服务','THU.LabSystemBP',1,'THU.LabSystemBP.dll')
--生成单个实体的元数据sql
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='2865e044-40d4-4d1e-8c95-ca7ceb8e5df9'
INSERT INTO T_METADATA_BP_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_BP_COMPONENT),0,'2865e044-40d4-4d1e-8c95-ca7ceb8e5df9','惩罚记录','惩罚记录','THU.LabSystemBP.惩罚记录','THU.LabSystemBP.dll','ae9711fa-030d-482d-b0f2-70f559743b83',0,'',1)
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='24eafcd1-d2cf-421d-8535-ec4df0b0ba22'
INSERT INTO T_METADATA_BP_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_BP_COMPONENT),0,'24eafcd1-d2cf-421d-8535-ec4df0b0ba22','统计报表','统计报表','THU.LabSystemBP.统计报表','THU.LabSystemBP.dll','ae9711fa-030d-482d-b0f2-70f559743b83',0,'',1)
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='b256c5aa-3e9d-423d-a5c9-7d361822d129'
INSERT INTO T_METADATA_BP_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_BP_COMPONENT),0,'b256c5aa-3e9d-423d-a5c9-7d361822d129','设备维修记录','设备维修记录','THU.LabSystemBP.设备维修记录','THU.LabSystemBP.dll','ae9711fa-030d-482d-b0f2-70f559743b83',0,'',1)
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='7c34ddc2-92e2-4d16-98ce-142ffde86561'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='95a70515-4a83-4629-8f2c-874074f2d37f'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='1179dab9-4dcc-499b-bfd8-37fe1d124c32'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='8a25124b-6dc0-456f-b840-761d6c887f55'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='eb575933-29a9-4b52-9528-db9a3de6165f'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='818b1375-db3f-46a6-83b6-bcaffaae7d6b'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='e49c7cb1-30f6-4467-984b-e2a30ef123fb'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='2abf34f4-c32e-4364-bfc8-290c92cbd502'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='6c075d31-b6ce-4cb2-8827-8bc4f10f5b34'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='a86f63b9-2790-43f7-be3c-0ca79f2e00ed'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='1ae4227e-4fcc-48be-bb77-1b11717eb7ec'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='46373bb5-f553-4378-b2bb-a22b23d8365b'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='8967f922-6f53-41c8-afda-b70c52ffad96'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='11b3f967-fee9-4cc5-8b8d-822e598a964b'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='7764b699-dfd1-4327-bdfc-2676e8e3b3ce'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='72f2b0ed-707c-47f2-b884-755beb908096'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='f190514a-8f3e-49af-b346-aa20e1ba26a9'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='3468e3f5-2977-495b-8a26-03a705ffc6e1'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='eda6bd82-3962-410c-a3de-e1f5075b2184'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='713b1800-21f8-42b7-8385-ab38244474af'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='a5644821-0c25-4e48-9227-a4715a6d8a39'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='514c1255-0d57-4bd1-9924-3150b9a28c0c'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='45d52a60-581e-44c9-b48d-4d80bd3ae6b4'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='00c1911d-83df-4357-9af3-a22d7ee06c71'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='824120f7-c297-4e15-909b-ee343d5d29a4'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='9ac3a48e-22bd-4ecc-be05-e0e9453f58d6'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='2afef3c2-9980-4959-be05-9de749403294'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='4a5808dc-2490-4a4c-ab5c-926532fa29a1'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='56bc1236-acd9-4b78-81f5-0147f4eafcf8'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='3b5e22f1-cb7b-4c53-af40-b9689c7e1dd4'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='82606e37-cb5f-4f3e-a246-bfb03e227f48'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='1361c9d6-fcec-4534-8c26-f0402303a3f5'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='c9ced2be-d8b8-44d3-9557-27e5e5aa5290'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='c95eb1ec-df50-4168-a3bd-101422255242'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='6793f911-e67f-40d3-a57d-eded2406846b'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='6a9c9c5a-d949-47fd-adc4-65e5ec40c241'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='36d07414-c958-4193-bdb8-7ecc9864c0a8'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='11c64da9-5519-4f35-b0ad-f10d5972bffb'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='9c63bdb4-d856-4e74-8c63-40b6a950497d'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='2d799aaa-a7a8-4cb9-8d2c-6808e3b48081'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='339abfc8-d75e-4831-b014-6afd4fb0596b'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='a3d0af21-1184-4266-80c2-6d98d5d6c9b5'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='afcbf8bb-f441-402f-8da9-ef42a56d523d'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='2b6d6ec8-9e34-4021-8aac-290fe41c193c'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='119c272b-c053-4ff6-b533-274c1be1bcbf'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='e4193cb0-72d3-4e26-b1d8-959517db8c21'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='c8d10e0f-b653-4fd8-877d-6d32ac5a3fbd'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='e778aafd-fbf2-42f6-8d0b-03878e0397ec'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='4372f38f-d387-4115-853a-8bb558e076c8'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='7af5e2f6-f0fd-46a8-80e7-afedc767b019'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='4cb37652-379a-48a7-a838-e625d7551521'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='aa91f016-d4a9-4232-a944-71c77ba748f6'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='5f31c0e9-e1dd-4525-b597-e0a4c78e5f62'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='88d0efa6-9ee0-4985-a484-cc62aca6f62c'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='71cd2d6f-e081-4b70-93f6-69dcf2d699ff'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='d8db2c58-1137-4828-865a-d9b39c4e1646'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='eaa71d65-1a7e-4d1b-99e1-7b0e9262f270'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='4b09ae96-0be1-474e-b8af-9efaaf673ef3'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='a4ea19f3-60e9-4f3c-a6f7-68ff3ce0e193'
DELETE FROM T_METADATA_BP_COMPONENT WHERE F_GUID='fd4cd3cb-452c-4493-a4c5-38eadb01919e'
