--实体项目元数据sql
DELETE FROM T_METADATA_PROJECT_COMPONENT WHERE F_GUID='41e190f9-fa28-4f06-bb77-e31a477848aa'
INSERT INTO T_METADATA_PROJECT_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_PROJECT_COMPONENT),0,'41e190f9-fa28-4f06-bb77-e31a477848aa','实验室管理实体','THU.LabSystemBE',0,'THU.LabSystemBE.dll')
--生成单个实体的元数据sql
DELETE FROM T_METADATA_ENTITY_COMPONENT WHERE F_GUID='4c47c367-5698-4cae-81b0-eab071ce87ab'
INSERT INTO T_METADATA_ENTITY_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENTITY_COMPONENT),0,'4c47c367-5698-4cae-81b0-eab071ce87ab','User','用户信息','THU.LabSystemBE.User','THU.LabSystemBE.dll','41e190f9-fa28-4f06-bb77-e31a477848aa','T_LAB_USER',1,2)
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_ENTITYGUID='4c47c367-5698-4cae-81b0-eab071ce87ab'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='4c47c367-5698-4cae-81b0-eab071ce87ab'
INSERT INTO T_METADATA_ENTITY_COLUMN_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENTITY_COLUMN_COMPONENT),0,'4c47c367-5698-4cae-81b0-eab071ce87ab','ID','ID','long','','4c47c367-5698-4cae-81b0-eab071ce87ab',1)
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='f82e5044-4a23-4100-9274-0f56728425ec' and F_ENTITYGUID='4c47c367-5698-4cae-81b0-eab071ce87ab'
INSERT INTO T_METADATA_ENTITY_COLUMN_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENTITY_COLUMN_COMPONENT),0,'f82e5044-4a23-4100-9274-0f56728425ec','SN','学号','string','','4c47c367-5698-4cae-81b0-eab071ce87ab',1)
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='1cef4a71-e27b-421a-8dc0-6c94c8f06c95' and F_ENTITYGUID='4c47c367-5698-4cae-81b0-eab071ce87ab'
INSERT INTO T_METADATA_ENTITY_COLUMN_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENTITY_COLUMN_COMPONENT),0,'1cef4a71-e27b-421a-8dc0-6c94c8f06c95','Name','姓名','string','','4c47c367-5698-4cae-81b0-eab071ce87ab',1)
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='4bd63169-50fb-4b36-a390-748aafcc7211' and F_ENTITYGUID='4c47c367-5698-4cae-81b0-eab071ce87ab'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='fa57c5b5-5769-428f-8b25-a429d5829a41' and F_ENTITYGUID='4c47c367-5698-4cae-81b0-eab071ce87ab'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='1d5ff821-98a3-45cd-adab-b3e71e5f1939' and F_ENTITYGUID='4c47c367-5698-4cae-81b0-eab071ce87ab'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='11dd174e-2df9-4c6f-ab15-6a0822718b66' and F_ENTITYGUID='4c47c367-5698-4cae-81b0-eab071ce87ab'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='fcf7c495-a83f-4779-be93-fb54fa6edbbd' and F_ENTITYGUID='4c47c367-5698-4cae-81b0-eab071ce87ab'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='3caf15e2-ea72-406b-a0bc-e062becf83a1' and F_ENTITYGUID='4c47c367-5698-4cae-81b0-eab071ce87ab'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='b757cc23-23ca-4cf4-80c4-619604854dec' and F_ENTITYGUID='4c47c367-5698-4cae-81b0-eab071ce87ab'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='9c79ff65-35cc-4e0d-b7b0-06141988b3e7' and F_ENTITYGUID='4c47c367-5698-4cae-81b0-eab071ce87ab'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='9ba91696-9fff-4be4-a71c-51e5bf7f2bae' and F_ENTITYGUID='4c47c367-5698-4cae-81b0-eab071ce87ab'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='2fc387c6-8e25-44f1-b497-e8afcb765a3e' and F_ENTITYGUID='4c47c367-5698-4cae-81b0-eab071ce87ab'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='11acd3ba-335c-496b-8217-a67e28229a32' and F_ENTITYGUID='4c47c367-5698-4cae-81b0-eab071ce87ab'
DELETE FROM T_METADATA_ENTITY_COMPONENT WHERE F_GUID='aa161d3b-4801-48f6-90b4-20f8ae57f853'
INSERT INTO T_METADATA_ENTITY_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENTITY_COMPONENT),0,'aa161d3b-4801-48f6-90b4-20f8ae57f853','CommonEnum','通用枚举','THU.LabSystemBE.CommonEnum','THU.LabSystemBE.dll','41e190f9-fa28-4f06-bb77-e31a477848aa','T_LAB_COMMON_ENUM',1,2)
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_ENTITYGUID='aa161d3b-4801-48f6-90b4-20f8ae57f853'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='aa161d3b-4801-48f6-90b4-20f8ae57f853'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='f7362f8b-e977-4b17-ac74-a4c9ee6942c9' and F_ENTITYGUID='aa161d3b-4801-48f6-90b4-20f8ae57f853'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='0b2acad1-e475-424a-8bbb-e603d0a21835' and F_ENTITYGUID='aa161d3b-4801-48f6-90b4-20f8ae57f853'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='54eea3ca-efc7-4c4e-bfb4-4501bef9daae' and F_ENTITYGUID='aa161d3b-4801-48f6-90b4-20f8ae57f853'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='e870edc3-ad36-470e-b4aa-7726ba778eb6' and F_ENTITYGUID='aa161d3b-4801-48f6-90b4-20f8ae57f853'
DELETE FROM T_METADATA_ENTITY_COMPONENT WHERE F_GUID='66daf590-39cf-4f27-b265-a9f3f122a3e9'
INSERT INTO T_METADATA_ENTITY_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENTITY_COMPONENT),0,'66daf590-39cf-4f27-b265-a9f3f122a3e9','Teacher','导师信息','THU.LabSystemBE.Teacher','THU.LabSystemBE.dll','41e190f9-fa28-4f06-bb77-e31a477848aa','T_LAB_TEACHER',1,2)
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_ENTITYGUID='66daf590-39cf-4f27-b265-a9f3f122a3e9'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='66daf590-39cf-4f27-b265-a9f3f122a3e9'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='7725b606-53a6-45f7-bb97-3edf1a34cc49' and F_ENTITYGUID='66daf590-39cf-4f27-b265-a9f3f122a3e9'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='9852905f-cc42-435f-ab25-b38f440764c4' and F_ENTITYGUID='66daf590-39cf-4f27-b265-a9f3f122a3e9'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='6d67f5ad-bf68-4de0-959e-4b960fe2a2c3' and F_ENTITYGUID='66daf590-39cf-4f27-b265-a9f3f122a3e9'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='7dcab59b-ef6b-4e8c-9402-ded56f4f356f' and F_ENTITYGUID='66daf590-39cf-4f27-b265-a9f3f122a3e9'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='d8c46134-8f28-4d42-898c-99a2faa7adec' and F_ENTITYGUID='66daf590-39cf-4f27-b265-a9f3f122a3e9'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='3b6af57d-dd34-470f-a0ab-fdd36261e292' and F_ENTITYGUID='66daf590-39cf-4f27-b265-a9f3f122a3e9'
DELETE FROM T_METADATA_ENTITY_COMPONENT WHERE F_GUID='3c5ffb16-361e-462e-b884-52b998b03d3e'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_ENTITYGUID='3c5ffb16-361e-462e-b884-52b998b03d3e'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='3c5ffb16-361e-462e-b884-52b998b03d3e'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='8a055b68-28f1-4f66-af18-9a73233e21c6' and F_ENTITYGUID='3c5ffb16-361e-462e-b884-52b998b03d3e'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='901d5499-c0de-4456-b784-8d0022d93f6b' and F_ENTITYGUID='3c5ffb16-361e-462e-b884-52b998b03d3e'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='cfc8b3b8-8aee-4d6b-9c88-6ab628b6e1bd' and F_ENTITYGUID='3c5ffb16-361e-462e-b884-52b998b03d3e'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='8e74cba2-354c-4b68-84d8-da72a3da0814' and F_ENTITYGUID='3c5ffb16-361e-462e-b884-52b998b03d3e'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='f905e9f5-f2de-4567-a830-be91d93be9a8' and F_ENTITYGUID='3c5ffb16-361e-462e-b884-52b998b03d3e'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='040a0e9b-e96d-4388-8ab4-b3a09d7fa192' and F_ENTITYGUID='3c5ffb16-361e-462e-b884-52b998b03d3e'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='0f700b75-0bd2-4939-aadf-48d8d3784833' and F_ENTITYGUID='3c5ffb16-361e-462e-b884-52b998b03d3e'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='d48a34b9-83e9-4c05-8811-c46cfdfbdea6' and F_ENTITYGUID='3c5ffb16-361e-462e-b884-52b998b03d3e'
DELETE FROM T_METADATA_ENTITY_COMPONENT WHERE F_GUID='574aa9bc-55a0-464b-9507-0f66c4207a9d'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_ENTITYGUID='574aa9bc-55a0-464b-9507-0f66c4207a9d'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='574aa9bc-55a0-464b-9507-0f66c4207a9d'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='e49ed16b-5c6c-49ab-b19f-c0f32b0563a3' and F_ENTITYGUID='574aa9bc-55a0-464b-9507-0f66c4207a9d'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='b043d132-7f1f-4de1-895a-86e75f31e439' and F_ENTITYGUID='574aa9bc-55a0-464b-9507-0f66c4207a9d'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='18fe2bb9-4a52-4df2-a71a-34e798dba3f0' and F_ENTITYGUID='574aa9bc-55a0-464b-9507-0f66c4207a9d'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='3363e9fd-5b18-4f1f-bdb2-e535b0f6f589' and F_ENTITYGUID='574aa9bc-55a0-464b-9507-0f66c4207a9d'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='f926c67e-2365-4f4f-80d0-02751f5bfae7' and F_ENTITYGUID='574aa9bc-55a0-464b-9507-0f66c4207a9d'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='72e1c52d-e515-49a7-8f81-416173e573f2' and F_ENTITYGUID='574aa9bc-55a0-464b-9507-0f66c4207a9d'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='c530b447-bfff-487a-be2b-41d151b5543a' and F_ENTITYGUID='574aa9bc-55a0-464b-9507-0f66c4207a9d'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='aa86bbd6-e2ad-4c15-9174-d6a3bb9d906b' and F_ENTITYGUID='574aa9bc-55a0-464b-9507-0f66c4207a9d'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='d70d57e6-67a4-4924-8747-76ef9859a04e' and F_ENTITYGUID='574aa9bc-55a0-464b-9507-0f66c4207a9d'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='d1134ec4-364c-4c1e-ab18-1814ec598f74' and F_ENTITYGUID='574aa9bc-55a0-464b-9507-0f66c4207a9d'
DELETE FROM T_METADATA_ENTITY_COMPONENT WHERE F_GUID='ed7be607-7e7b-4976-b1bf-3f18efe5b9df'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_ENTITYGUID='ed7be607-7e7b-4976-b1bf-3f18efe5b9df'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='ed7be607-7e7b-4976-b1bf-3f18efe5b9df'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='ff4d0d9c-095b-4ee4-88ca-e412d30ff08f' and F_ENTITYGUID='ed7be607-7e7b-4976-b1bf-3f18efe5b9df'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='66af661a-8e34-4c3e-81de-58f9379aa354' and F_ENTITYGUID='ed7be607-7e7b-4976-b1bf-3f18efe5b9df'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='e20e88ca-43d8-4f96-8231-381bdcff6573' and F_ENTITYGUID='ed7be607-7e7b-4976-b1bf-3f18efe5b9df'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='bc706696-5efe-4e16-82ee-24718d4988d6' and F_ENTITYGUID='ed7be607-7e7b-4976-b1bf-3f18efe5b9df'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='a3720b15-c9c1-4ae5-80f9-a08b2289967c' and F_ENTITYGUID='ed7be607-7e7b-4976-b1bf-3f18efe5b9df'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='92be1f18-87a0-4793-9f7c-f8b45522ae85' and F_ENTITYGUID='ed7be607-7e7b-4976-b1bf-3f18efe5b9df'
DELETE FROM T_METADATA_ENTITY_COMPONENT WHERE F_GUID='ee4d1161-0b79-4a92-b66a-1f677b15bd8c'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_ENTITYGUID='ee4d1161-0b79-4a92-b66a-1f677b15bd8c'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='ee4d1161-0b79-4a92-b66a-1f677b15bd8c'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='c38a7917-b538-4c03-9544-70f961a1e4d1' and F_ENTITYGUID='ee4d1161-0b79-4a92-b66a-1f677b15bd8c'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='8d1bf08e-ffd5-4ae5-a68e-b4361baf3666' and F_ENTITYGUID='ee4d1161-0b79-4a92-b66a-1f677b15bd8c'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='c4ad0543-0de5-42a1-bcbd-2ec6b13a46f9' and F_ENTITYGUID='ee4d1161-0b79-4a92-b66a-1f677b15bd8c'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='7a147ce4-7abe-4a52-966a-9d4bb7db4272' and F_ENTITYGUID='ee4d1161-0b79-4a92-b66a-1f677b15bd8c'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='0f30c932-5882-4946-9f24-ba5c898475d5' and F_ENTITYGUID='ee4d1161-0b79-4a92-b66a-1f677b15bd8c'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='7475484c-bd66-4a46-9316-8d8378b69fc6' and F_ENTITYGUID='ee4d1161-0b79-4a92-b66a-1f677b15bd8c'
DELETE FROM T_METADATA_ENTITY_COMPONENT WHERE F_GUID='de992b7d-abd9-4215-b486-c36f49458b97'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_ENTITYGUID='de992b7d-abd9-4215-b486-c36f49458b97'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='de992b7d-abd9-4215-b486-c36f49458b97'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='e18118e1-a158-4686-9c3a-0bc09b33900c' and F_ENTITYGUID='de992b7d-abd9-4215-b486-c36f49458b97'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='67cac3a9-c3d7-4db1-946d-89d929873af0' and F_ENTITYGUID='de992b7d-abd9-4215-b486-c36f49458b97'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='a32fd133-8777-4b8e-88e7-d7fec765df89' and F_ENTITYGUID='de992b7d-abd9-4215-b486-c36f49458b97'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='6fdecad7-cee7-41f4-9c20-540dcaddb30e' and F_ENTITYGUID='de992b7d-abd9-4215-b486-c36f49458b97'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='8d4f6370-cd79-41eb-9d46-cff1d765486c' and F_ENTITYGUID='de992b7d-abd9-4215-b486-c36f49458b97'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='452af41e-3644-40e8-a3c4-908da0474525' and F_ENTITYGUID='de992b7d-abd9-4215-b486-c36f49458b97'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='402b86b9-d6ae-4a76-8fba-102dac34edbc' and F_ENTITYGUID='de992b7d-abd9-4215-b486-c36f49458b97'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='d1e6001a-cc77-42a9-8d99-6429779b30cd' and F_ENTITYGUID='de992b7d-abd9-4215-b486-c36f49458b97'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='0afb9519-b89a-4d03-ab88-b9aa3919de89' and F_ENTITYGUID='de992b7d-abd9-4215-b486-c36f49458b97'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='8b28f511-0258-4bda-9be7-69ec3823d83e' and F_ENTITYGUID='de992b7d-abd9-4215-b486-c36f49458b97'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='3961ce6c-f0ae-4c2d-b587-43592a398d64' and F_ENTITYGUID='de992b7d-abd9-4215-b486-c36f49458b97'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='67e8ec3b-5ed0-4447-b808-6596a2ac14fc' and F_ENTITYGUID='de992b7d-abd9-4215-b486-c36f49458b97'
DELETE FROM T_METADATA_ENTITY_COMPONENT WHERE F_GUID='e0c346db-c277-445e-82cd-c26df5879cb0'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_ENTITYGUID='e0c346db-c277-445e-82cd-c26df5879cb0'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='e0c346db-c277-445e-82cd-c26df5879cb0'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='ce0afee6-3e28-4a59-aa06-230bb95c9f43' and F_ENTITYGUID='e0c346db-c277-445e-82cd-c26df5879cb0'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='ed605720-e660-419b-90d8-86c0a41db17a' and F_ENTITYGUID='e0c346db-c277-445e-82cd-c26df5879cb0'
DELETE FROM T_METADATA_ENTITY_COLUMN_COMPONENT WHERE F_GUID='4fbdfb73-08d5-4f10-9157-2264df058948' and F_ENTITYGUID='e0c346db-c277-445e-82cd-c26df5879cb0'
DELETE FROM T_METADATA_ENUM_COMPONENT WHERE F_GUID='8e375056-7df3-4cf5-85ef-7d0238460e29'
INSERT INTO T_METADATA_ENUM_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENUM_COMPONENT),0,'8e375056-7df3-4cf5-85ef-7d0238460e29','TypeEnum','类别枚举','THU.LabSystemBE.TypeEnum','THU.LabSystemBE.dll','41e190f9-fa28-4f06-bb77-e31a477848aa')
DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_ENUMGUID='8e375056-7df3-4cf5-85ef-7d0238460e29'
DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='9e16d103-601b-4307-8fbe-c9eca803ca4d'
INSERT INTO T_METADATA_ENUM_COLUMN_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENUM_COLUMN_COMPONENT),0,'9e16d103-601b-4307-8fbe-c9eca803ca4d','Degree','学历',1,'8e375056-7df3-4cf5-85ef-7d0238460e29')

DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='aa1ea17a-c69b-463b-93b5-20be4a2cdb7d'
INSERT INTO T_METADATA_ENUM_COLUMN_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENUM_COLUMN_COMPONENT),0,'aa1ea17a-c69b-463b-93b5-20be4a2cdb7d','Status','身份',2,'8e375056-7df3-4cf5-85ef-7d0238460e29')

DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='1d36fee4-bf72-4e5d-a684-f3ce88dd9de5'
INSERT INTO T_METADATA_ENUM_COLUMN_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENUM_COLUMN_COMPONENT),0,'1d36fee4-bf72-4e5d-a684-f3ce88dd9de5','Position','职位',3,'8e375056-7df3-4cf5-85ef-7d0238460e29')

DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='44656337-ef71-4e5d-9102-0de42e922224'

DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='86ba9bb8-f26c-4dfd-b4f2-558090251bd2'

DELETE FROM T_METADATA_ENUM_COMPONENT WHERE F_GUID='129db180-ef51-45a2-a825-bfb2ed030d0b'
INSERT INTO T_METADATA_ENUM_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENUM_COMPONENT),0,'129db180-ef51-45a2-a825-bfb2ed030d0b','UserTypeEnum','用户类别枚举','THU.LabSystemBE.UserTypeEnum','THU.LabSystemBE.dll','41e190f9-fa28-4f06-bb77-e31a477848aa')
DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_ENUMGUID='129db180-ef51-45a2-a825-bfb2ed030d0b'
DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='2566f9df-dbdb-4326-a73e-f9b374cd332b'

DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='0769a85f-8b09-4971-bb54-7823fded1678'

DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='80118081-23a5-4251-91f0-1b0fd6472c04'

DELETE FROM T_METADATA_ENUM_COMPONENT WHERE F_GUID='2d8fd942-c980-4b37-b18c-59fff1dd778f'
INSERT INTO T_METADATA_ENUM_COMPONENT VALUES((SELECT ISNULL(MAX(F_ID),0)+1 FROM T_METADATA_ENUM_COMPONENT),0,'2d8fd942-c980-4b37-b18c-59fff1dd778f','DeviceTypeEnum','设备类型枚举','THU.LabSystemBE.DeviceTypeEnum','THU.LabSystemBE.dll','41e190f9-fa28-4f06-bb77-e31a477848aa')
DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_ENUMGUID='2d8fd942-c980-4b37-b18c-59fff1dd778f'
DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='a71c7723-c54b-45f0-a02a-e3523f28e21d'

DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='856fd374-c9de-4517-be35-a65a2a2d8244'

DELETE FROM T_METADATA_ENUM_COMPONENT WHERE F_GUID='236369ec-7ec8-4b64-89fd-f16e1e3dcda4'
DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_ENUMGUID='236369ec-7ec8-4b64-89fd-f16e1e3dcda4'
DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='7ce2d09e-3d00-4ddc-ba9e-c6aea9d0ca78'

DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='e16e3b7c-665d-4a79-967c-dfde0795c489'

DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='02d75e4e-9fb6-472c-8cd2-ba0ff4ee7156'

DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='1b336024-7883-4338-aa45-86945b969ef5'

DELETE FROM T_METADATA_ENUM_COMPONENT WHERE F_GUID='1830de43-d11d-4875-b198-1d459071af53'
DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_ENUMGUID='1830de43-d11d-4875-b198-1d459071af53'
DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='bd9e8a8b-aae7-400a-9803-a515ddcece98'

DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='49d99b52-9779-4698-85c5-3f12c082408b'

DELETE FROM T_METADATA_ENUM_COMPONENT WHERE F_GUID='afc6184e-71e8-4290-b72f-fc73de2f67b7'
DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_ENUMGUID='afc6184e-71e8-4290-b72f-fc73de2f67b7'
DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='cf44f6d6-cbc0-4de9-8c7c-8a13f5933db2'

DELETE FROM T_METADATA_ENUM_COLUMN_COMPONENT WHERE F_GUID='f0b1a920-a43d-4e7f-9fe3-759e32be14ba'

