@{
    ViewBag.Title = "维修报表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <script src="/Areas/Script/Admin/AdminConsole/RepairDeviceReport.js" type="text/javascript"></script>
}
<div data-options="region:'center'">
    <table id="repairDeviceList" class="easyui-treegrid" pagination="true" data-options="fit:true,border:false">
    </table>
</div>
