@{
    ViewBag.Title = "教师列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <script src="/Areas/Script/Admin/AdminConsole/TeacherList.js" type="text/javascript"></script>
}
<div data-options="region:'center'">
    <table id="teacherList" class="easyui-datagrid" iconcls="icon-user" data-options="fit:true,border:false">
    </table>
</div>
<!--编辑界面-->
<div id="editForm" class="easyui-dialog" title="新增导师信息" iconcls="icon-save">
    <table style="padding: 10px;">
        <tr>
            <td class="label-t">
                姓名
            </td>
            <td>
                <input id="txtName" type="text" class="easyui-validatebox" style="width: 180px" />
            </td>
        </tr>
        <tr>
            <td class="label-t">
                性别
            </td>
            <td>
                <select id="txtSex" class="easyui-combobox" style="width: 180px" panelheight="60"
                    editable="false">
                    <option value="1" selected="selected">男</option>
                    <option value="2" selected="selected">女</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="label-t">
                职位
            </td>
            <td>
                <select id="txtPosition" class="easyui-combobox" style="width: 180px" panelheight="160"
                    editable="false">
                </select>
            </td>
        </tr>
        <tr>
            <td class="label-t">
                院系
            </td>
            <td>
                <select id="txtDepartment" class="easyui-combobox" style="width: 180px" panelheight="160"
                    editable="false">
                </select>
            </td>
        </tr>
    </table>
</div>
